/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap"); */
@import "~antd/dist/antd.css";

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: green;
}

.App {
  padding: 20px;
}

.Header {
  display: flex;
  /* position: sticky; */
  /* top: 0px; */
  flex-wrap: wrap;
  gap: 10px;
  row-gap: 5px;
  padding: 10px 10px;
  background-color: white;
  z-index: 10;
  /* height: 50px; */
  align-items: center;
}

.SpeedInput {
  display: flex;
  gap: 5px;
  align-items: center;
  width: fit-content;
}

.MAS_input {
  width: 130px;
}

.PaceTable {
  max-width: 800px;
}

.PaceTable .ant-table.ant-table-small {
  font-size: 11px;
}

.PaceTable .ant-table.ant-table-small .ant-table-thead > tr > th,
.PaceTable .ant-table.ant-table-small .ant-table-tbody > tr > td {
  padding: 1px 1px;
}

.PaceTable .ant-table.ant-table-small .ant-table-thead > tr > th {
  font-weight: bold;
  background-color: rgb(225, 225, 225);
  border-bottom: 1px solid rgb(215, 215, 215);
}

.PaceTable .ant-table.ant-table-small .ant-table-tbody > tr > td {
  border: 0px;
}

.PaceTable .hoverable:hover {
  box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 1);
}

.kmDuration {
  font-weight: 500;
}

tr.isMinute td {
  border-bottom: 2px solid black !important; /* #f0f0f0; */
}

tr:nth-child(2n + 1) td {
  background-color: rgb(235, 235, 235);
}

.zone2 {
  background-color: rgb(178, 226, 238) !important;
}

.zone3 {
  background-color: rgb(194, 227, 176) !important;
}

.zone4 {
  background-color: rgb(246, 222, 171) !important;
}

.zone5 {
  background-color: rgb(236, 164, 188) !important;
}

@media screen and (max-width: 768px) {
  h1 {
    margin-left: 10px;
  }

  .App {
    padding: 0px 0px 68px 0px;
  }

  .Header {
    position: fixed;
    top: unset;
    bottom: 0px;
    width: 100%;
    transition: height 0.3s ease-in-out;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.6);
  }
}
